<!-- Overlay (ONLY mobile) -->
<div
  class="sidebar-overlay"
  *ngIf="isMobileOpen"
  (click)="toggleMobileSidebar()"
></div>

<div class="sidebar-header" *ngIf="isMobileOpen">
  <button (click)="toggleMobileSidebar()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<!---Start Of Sidebar--->
<div
  class="sidebar"
  [class.collapsed]="isCollapsed"
  [class.mobile-open]="isMobileOpen"
>
  <div class="sidebar-content">
    <div class="header-sidebar-logo" *ngIf="isMobileOpen">
      <div class="logo-container">
        <img src="../../../../../assets/images/Logo-PMS3.svg" alt="PMS Logo" />
      </div>
    </div>
    <div class="sidebar-header d-none d-lg-flex">
      <button (click)="toggleSidebar()">
        <i class="fa fa-angle-left"></i>
      </button>
    </div>
    <!--Start Of Sidebar-->
    <aside class="nav-section d-flex flex-column h-100 justify-content-between">
      <ul class="nav">
        <ng-container *ngFor="let item of navMenu; let i = index">
          <li *ngIf="item.isActive" (click)="onNavItemClick()">
            <a
              class="nav-item"
              [routerLink]="item.routerNavigate"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{
                exact: item.label === 'Home',
              }"
            >
              <!--[class.active]="isHomeActive(item)"-->
              <span class="span-hover">
                <i class="nav-icon me-2" [ngClass]="item.icon"></i>
                <span class="nav-text text-capitalize">
                  {{ item.label }}
                </span>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
    </aside>
  </div>
</div>
<!---End Of Sidebar--->
