<<<<<<< Updated upstream
=======
.auth-container {
  min-height: 100vh;
  width: 100%;
  background: url("../../../../../assets/images/bg.png") no-repeat center /cover;
  padding: 3rem 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background: url("../../../../../assets/images/reset-pass-after.png")
      no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 100%;
    background: url("../../../../../assets/images/reset-pass-before.png")
      no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

.auth-card {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 80%;
  padding: 3rem 4rem;
  background: #315951e5;
  border-radius: 16px;
}

header {
  text-align: center;
  position: relative;
  z-index: 2;

  img {
    width: 150px;
  }
}

.custom-label {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 22px;
  letter-spacing: 1%;
}

:host {
  ::ng-deep {
    /* Remove outline */
    .mdc-text-field--outlined {
      --mdc-outlined-text-field-outline-width: 0px;
      --mdc-outlined-text-field-focus-outline-width: 0px;
      --mdc-outlined-text-field-container-shape: 0px;

      border-bottom: 0.3px solid var(--white-color);
      border-radius: 0;
      background: transparent;
    }

    /* Input sizing */
    .mat-mdc-form-field-infix,
    .mat-mdc-form-field,
    .mat-mdc-text-field-wrapper {
      min-height: 33px !important;
      padding-top: 3px !important;
      padding-bottom: 0 !important;
    }

    /* Suffix icon */
    .mat-mdc-form-field-icon-suffix {
      padding: 0 !important;
      display: flex;
      align-items: center;
      height: 33px !important;
      border-bottom: 0.3px solid #ffffff4c;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
      width: 32px !important;
      height: 32px !important;
      padding: 4px !important;
      line-height: 1 !important;
    }

    .mat-icon {
      font-size: 18px !important;
      width: 18px !important;
      height: 18px !important;
      line-height: 18px !important;
      color: var(--white-color) !important;
    }

    /* Input text */
    .mat-mdc-input-element {
      font-size: 16px;

      &::placeholder {
        color: var(--white-color) !important;
        font-family: var(--Inter-font) !important;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }

    /* Hide placeholder on focus */
    .mat-mdc-form-field.mat-focused .mat-mdc-input-element::placeholder {
      opacity: 0;
    }

    /* Bottom border on focus */
    .mdc-text-field--focused {
      border-bottom: 2px solid var(--primary-color);
    }

    /* Error message */
    .mat-mdc-form-field-error {
      color: #ff4d4f !important;
      font-size: 13px;
      margin-top: 4px;
    }

    /* Remove extra bg */
    .mdc-text-field {
      padding: 0 !important;
      background-color: transparent !important;
    }

    /* Error/hint wrapper */
    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
      position: relative !important;
      top: -20px !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    /* Spinner */
    .mat-mdc-progress-spinner circle {
      stroke: #fff !important;
    }

    /* Input color */
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-text-field__input {
      color: var(--white-color) !important;
    }
    .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
      color: var(--primary-color) !important;
    }
  }
}

/* Remove ripple */
.mdc-line-ripple {
  display: none !important;
}

/**********************/
.auth-links {
  margin-bottom: 48px;

  a {
    font-family: var(--Inter-font);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 1%;
    text-decoration: none;
    position: relative;
    transition:
      color 0.25s ease,
      opacity 0.25s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0%;
      height: 1px;
      background-color: var(--white-color);
      transition: width 0.3s ease;
    }

    &:hover {
      opacity: 0.8;

      &::after {
        width: 100%;
      }
    }
  }
}

/**********************/
.auth-btn {
  height: 56px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 96px;
  color: var(--white-color);
  font-family: var(--Inter-font);
  font-size: 16px;
  outline: none;
  border: 1px solid transparent;
  font-weight: 500;

  cursor: pointer;

  transition:
    background 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;

  &:hover {
    background: color-mix(in srgb, var(--primary-color) 85%, #393731);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px
      color-mix(in srgb, var(--primary-color) 50%, transparent);
  }

  &:active {
    transform: translateY(0px);
    box-shadow: none;
    opacity: 0.9;
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 3px;
  }
  &:disabled {
    background: var(--primary-color);
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: revert;
  }
}

/*********** Responsive ***********/
@media screen and (min-width: 1200px) {
  .auth-card {
    width: 667px;
  }

  header {
    img {
      width: 366px;
    }
  }
}
>>>>>>> Stashed changes
