<section class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="login-content bg-white p-5 rounded-3">

    <div class="header d-flex justify-content-center align-items-center">
      <div class="login-form">
        <div class="p-3">
          <h2>Register</h2>
          <p>Welcome Back! Please enter your details</p>
        </div>

        <form
          class="d-flex flex-column gap-3 p-3"
          [formGroup]="registerForm"
          (ngSubmit)="sendData(registerForm)"
        >

          <div class="row">

            <!-- Username -->
            <div class="col-6 my-2">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-mobile-screen"></i>
                </span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="User Name"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  formControlName="userName"
                >
              </div>

              <div
                class="alert alert-danger"
                *ngIf="registerForm.get('userName')?.errors && registerForm.get('userName')?.touched"
              >
                <p *ngIf="registerForm.get('userName')?.errors?.['required']">
                  userName is Required
                </p>

                <p *ngIf="registerForm.get('userName')?.errors?.['maxLength']">
                  The userName may not be greater than 8 characters
                </p>

                <p *ngIf="registerForm.get('userName')?.errors?.['pattern']">
                  The userName must contain characters and end with numbers
                </p>
              </div>
            </div>

            <!-- Email -->
            <div class="col-6 my-2">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">
                  <i class="fa-solid fa-mobile-screen"></i>
                </span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your E-mail"
                  aria-label="Email"
                  aria-describedby="basic-addon2"
                  formControlName="email"
                >
              </div>

              <div
                class="alert alert-danger"
                *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched"
              >
                <p *ngIf="registerForm.get('email')?.errors?.['required']">
                  Email is Required
                </p>

                <p *ngIf="registerForm.get('email')?.errors?.['email']">
                  Enter Valid Email
                </p>
              </div>
            </div>

            <!-- Country -->
            <div class="col-6 my-2">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">
                  <i class="fa-solid fa-lock"></i>
                </span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="country"
                  aria-label="country"
                  aria-describedby="basic-addon3"
                  formControlName="country"
                >
              </div>
            </div>

          </div>

          <button class="btn btn-primary">
            Register
          </button>

        </form>
      </div>
    </div>

  </div>
</section>
