<section
  class="auth-container flex-column d-flex align-items-center justify-content-center"
>
  <header class="mb-4">
    <img src="../../../assets/images/Logo-PMS3.svg" alt="Logo" class="w-100" />
  </header>

  <div class="auth-card d-flex flex-column align-items-center">
    <div class="w-100">
      <!----Auth Header------->
      <div class="w-100">
        <app-auth-header
          [title]="'Verify Account'"
          [description]="'welcome to PMS'"
        />
      </div>
      <!------------>

      <div class="container">
        <form
          class="w-100 row"
          [formGroup]="verifyAccForm"
          (ngSubmit)="onSubmit()"
        >
          <!-- Email -->
          <div class="col-12">
            <label class="custom-label mb-2"> E-mail </label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="email" readonly formControlName="email" />
              <mat-error
                *ngIf="
                  verifyAccForm.get('email')?.invalid &&
                  (verifyAccForm.get('email')?.touched ||
                    verifyAccForm.get('email')?.dirty)
                "
              >
                {{
                  verifyAccForm.get("email")?.errors?.["required"]
                    ? "Email is required"
                    : "Please enter a valid email address"
                }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- code -->
          <div class="col-12">
            <label class="custom-label mb-2"> OTP Verification </label>

            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Enter Verification"
                formControlName="code"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
              >
                <mat-icon>
                  {{ hide ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>

              <mat-error
                *ngIf="
                  verifyAccForm.get('code')?.invalid &&
                  (verifyAccForm.get('code')?.touched ||
                    verifyAccForm.get('code')?.dirty)
                "
              >
                {{
                  verifyAccForm.get("code")?.errors?.["required"]
                    ? "OTP is required"
                    : ""
                }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Error Message -->
          <div class="col-12" *ngIf="errorMessage">
            <div class="alert alert-danger mb-2 py-1">
              {{ errorMessage }}
            </div>
          </div>

          <!-- Button -->
          <div class="col-12">
            <button
              class="auth-btn w-100 d-flex flex-row-reverse gap-2 align-items-center justify-content-center"
              type="submit"
            >
              <span>Save</span>
              <mat-spinner *ngIf="isLoading" diameter="22"></mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
