<section
  class="auth-container flex-column d-flex align-items-center justify-content-center"
>
  <header class="mb-4">
    <img src="../../../assets/images/Logo-PMS3.svg" alt="Logo" class="w-100" />
  </header>

  <div class="auth-card d-flex flex-column align-items-center">
    <div class="w-100">
      <!----Auth Header------->
      <div class="w-100">
        <app-auth-header
          [title]="'Change Password'"
          [description]="'welcome to PMS'"
        />
      </div>
      <!------------>

      <div class="container">
        <form
          class="w-100 row"
          [formGroup]="changePassForm"
          (ngSubmit)="onSubmit()"
        >
          <!--Old Password -->
          <div class="col-12">
            <label class="custom-label mb-2"> Old Password </label>

            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                [type]="hideOld ? 'password' : 'text'"
                placeholder="Enter your Old Password"
                formControlName="oldPassword"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hideOld = !hideOld"
              >
                <mat-icon>
                  {{ hideOld ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>

              <mat-error
                *ngIf="
                  changePassForm.get('oldPassword')?.invalid &&
                  (changePassForm.get('oldPassword')?.touched ||
                    changePassForm.get('oldPassword')?.dirty)
                "
              >
                Old Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- New Password -->
          <div class="col-12">
            <label class="custom-label mb-2"> New Password </label>

            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                [type]="hideNew ? 'password' : 'text'"
                placeholder="Enter your New Password"
                formControlName="newPassword"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hideNew = !hideNew"
              >
                <mat-icon>
                  {{ hideNew ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>

              <mat-error
                *ngIf="
                  changePassForm.get('newPassword')?.invalid &&
                  (changePassForm.get('newPassword')?.touched ||
                    changePassForm.get('newPassword')?.dirty)
                "
              >
                {{
                  changePassForm.get("newPassword")?.errors?.["required"]
                    ? "New Password is required"
                    : "Password must contain uppercase, lowercase, special character and minimum 6 characters"
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Confirm New Password -->
          <div class="col-12">
            <label class="custom-label mb-2"> Confirm New Password </label>

            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                [type]="hideConfirm ? 'password' : 'text'"
                placeholder="Confirm New Password"
                formControlName="confirmNewPassword"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hideConfirm = !hideConfirm"
              >
                <mat-icon>
                  {{ hideConfirm ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>

              <mat-error
                *ngIf="
                  changePassForm
                    .get('confirmNewPassword')
                    ?.hasError('required') &&
                  (changePassForm.get('confirmNewPassword')?.touched ||
                    changePassForm.get('confirmNewPassword')?.dirty)
                "
              >
                Password confirmation is required
              </mat-error>
            </mat-form-field>
            <div
              class="text-danger"
              *ngIf="
                changePassForm.hasError('passwordMismatch') &&
                changePassForm.get('newPassword')?.value &&
                changePassForm.get('confirmNewPassword')?.dirty
              "
            >
              Passwords do not match
            </div>
          </div>

          <!-- Error Message -->
          <div class="col-12" *ngIf="errorMessage">
            <div class="alert alert-danger mb-2 py-1">
              {{ errorMessage }}
            </div>
          </div>

          <!-- Button -->
          <div class="col-12">
            <button
              class="auth-btn w-100 d-flex flex-row-reverse gap-2 align-items-center justify-content-center"
              type="submit"
              [disabled]="changePassForm.invalid"
            >
              <span>Save</span>
              <mat-spinner *ngIf="isLoading" diameter="22"></mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
